.button {
  background: $main-blue;
  border: 0.5px solid $main-blue;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 110px;
  min-height: 30px;
  cursor: pointer;

  font-size: 12px;
  line-height: 14px;
  color: $font-white;
  text-transform: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    color: $font-black;
    opacity: 0.6;
    background: $disabled-grey;
    border: 0.5px solid $disabled-grey;
  }
}
