.login-form {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form__legend {
  font-family: $font-family-secondary;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  margin-bottom: 30px;
}

.login-form__buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-form__access-button {
  color: $main-blue;
  background: $color-white;
  border: none;
  padding: 0;
}

.login-form__error {
  font-size: 10px;
  line-height: 11px;
  color: $error-red;
}
