// Colors

$main-blue: #007bff;
$disabled-grey: #e9ecef;
$error-red: #c4183c;
$error-border-red: rgba(196, 24, 60, 0.1);

$font-white: #ffffff;
$font-black: #3d5170;

$color-white: #ffffff;

// Fonts

$font-family-primary: "Roboto", "Helvetica", sans-serif;
$font-family-secondary: "Helvetica", sans-serif;
